.main-div{
    width:500px;
    height:520px;
    margin: 50px 450px;
    box-shadow: 2px 2px 2px 2px ;
    background-image: url();
}
p{
    color:red;
}
.form{
    text-align: center;
}
input[type='text']{
    width:250px;
    height:30px;
    border-radius: 15px;
    text-align: center;
}
input[type='email']{
    width:250px;
    height:30px;
    border-radius: 15px;
    text-align: center;
}
input[type='number']{
    width:250px;
    height:30px;
    border-radius: 15px;
    text-align: center;
}
button[value='btn']{
    width:255px;
    height:35px;
    border-radius: 20px;
    background-color:rgb(43, 43, 211);
    color:white;
}
span{
    color:red;
}
button[value='btn']:hover{
    background-color: rgb(43, 43, 164);
}
